<a href="https://colab.research.google.com/github/gooseegoal/jamo/blob/master/PythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String
1. 큰 따옴표("")로 양쪽 둘러싸기
2. 작은 따옴표('')로 양쪽 둘러싸기
3. 큰 따옴표 3개(""" """)를 연속으로 써서 양쪽 둘러싸기
4. 작은 따옴표 3개(''' ''')를 연속으로 써서 양쪽 둘러싸기

# Escape Code
- 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 문자조합

1.   \n 문자열 안에서 줄을 바꿀 때 사용
2.   \t 문자열 사이에 탭 가격을 줄 때 사용
3.   \\\ 문자를 그대로 표현할 때 사용
4.   \\'  작은 따옴표 그대로 표현할 때 사용
5.   \\"  큰 따옴표를 그대로 표현할 때 사용

In [ ]:
a = "Hello World."
b = 'Python is fun.'
c = """Life is too short, You need python."""
d = '''Life is too short, You need python.'''
print(a, b, c, d)

e = '"Life is too short." he said.'
print(e)

f = 'Python\'s favorite food is perl'
print(f)

g = "\"Life is too short.\" he said."
print(g)

Hello World. Python is fun. Life is too short, You need python. Life is too short, You need python.
"Life is too short." he said.
Python's favorite food is perl
"Life is too short." he said.

In [ ]:
# escape code \n을 이용하여 줄바꿈 또는 ''' ''' 사용
multiline1 = "Life is too short\nYou need python"
multiline2 = '''
Life is too short
You need python
'''
print(multiline1, multiline2)

Life is too short
You need python
Life is too short
You need python

In [ ]:
# Concatenation
head = "Life is"
tail = " too short."
print(head + tail)

x = "Python"
x * 5           # *는 반복을 의미함

Life is too short.

'PythonPythonPythonPythonPython'

In [ ]:
print("=" * 35)
print("Life is too short. You need python")
print("=" * 35)

===================================
Life is too short. You need python
===================================

In [ ]:
python = "Life is too short. You need python"
len(python)

34

# 문자열 Indexing과 Slicing

- 파이썬은 0부터 Counting
- 인덱싱이란 a[0], a[1]과 같이 문자열 안의 특정한 값을 뽑아내는 역할
- 슬라이싱은 문자열 안에서 연속된 값 추출
- 슬라이싱은 시작점은 포함(inclusive), 종착점은 배제(exclusive)

In [ ]:
# Indexing

condor = "I'd rather be a sparrow than a snail."
print(len(condor))
print(condor[0])
print(condor[3])
print(condor[-2])

# Slicing

ml = "machine learning"
print(ml[0:3])        # 0번째에서 2번째(3번째 - 1)까지
print(ml[-3:-1])      # -3번째에서 -2번째(-1번째 - 1)까지
print(ml[:3])
print(ml[-8:])
print(ml[5: -1])

z = "20201221Sunny"
date = z[0:8]
weather = z[8:]
print(date + weather)
print(date, weather)
print(date + "\n" + weather)

# Mashine을 Machine으로 바꾸기

m = "Mashine"
# m[2] = "c"            # 문자열(str)은 immutable이라 error 반환

print(m[:2] + "c" + m[3:])

37
I

l
mac
in
mac
learning
ne learnin
20201221Sunny
20201221 Sunny
20201221
Sunny
Machine

# 문자열 formatting

- %s	문자열(String)
- %c	문자 1개(character)
- %d	정수(Integer)
- %f	부동소수(floating-point)
- %o	8진수
- %x	16진수
- %%	Literal % (문자 % 자체)

In [ ]:
print("I ran 10 kilometers through the rain.")
print("I ran %d kilometers through the rain." % 10)

print("I ran ten kilimeters through the rain")
print("I ran %s kilometers through the rain" % "ten")

numbers = 10

for number in range(numbers):
  print("I ran %d kilometers through the rain" % number)

numbers = 10
hours = "three" 

print("After running %d kilometers through the rain, I could arrive home at %s o\'clock." % (numbers, hours))

I ran 10 kilometers through the rain.
I ran 10 kilometers through the rain.
I ran ten kilimeters through the rain
I ran ten kilometers through the rain
I ran 0 kilometers through the rain
I ran 1 kilometers through the rain
I ran 2 kilometers through the rain
I ran 3 kilometers through the rain
I ran 4 kilometers through the rain
I ran 5 kilometers through the rain
I ran 6 kilometers through the rain
I ran 7 kilometers through the rain
I ran 8 kilometers through the rain
I ran 9 kilometers through the rain
After running 10 kilometers through the rain, I could arrive home at three o'clock.

In [ ]:
# 공백 표시

print("%25s" % "Investment")        # 25 문자열 중 오른쪽에 맞추어서 정렬
print("%-25s" % "Korea")            # 25 문자열 중 왼쪽에 맞추어서 정렬
print("%-25sInvestment" % "Korea")  # 오른쪽 문자열로부터 25문자만큼 왼쪽에 위치한 Korea 

# 소수점 표현하기

print("Euler Number is %0.3f" % 2.7182)   # 소수점 아래 3자리까지만 표시
print("Euler Numbe4r is %25.3f" % 2.7182) # 전체 25 문자열 중 오른쪽에 맞추어

# .format 함수 사용: name = value
print("I could arrive home at {0} o'clock.".format(3))
print("After running {} kilometers through the rain, I could arrive home at {hours} o\'clock." .format(10, hours = 3))

# 공백
print("{0:<25}".format("Korea Investment"))   # 왼쪽
print("{0:>25}".format("korea Investment"))   # 오른쪽
print("{0:^25}".format("korea Investment"))   # 중앙
print("{0:25}".format("Korea Investment"))    # 왼쪽

# 공백채우기
print("{0:=<25}".format("Korea Investment"))   # 오른쪽
print("{0:#>25}".format("Korea Investment"))   # 왼쪽
print("{0:*^25}".format("Korea Investment"))   # 중앙


x = 2.7182
print("{0:0.3f}".format(x))
print("{0:10.3f}".format(x))
print("{0:10.3f}".format(2.7182))

a = "too"
b = 20
f"Life is {a} short. We need to learn python before {b}"  # 왼쪽
f"Life is {a} short. We need to learn python before {b + 5}"  # 왼쪽

print(f"{'Korea Investment':=<25}")

               Investment
Korea
Korea                    Investment
Euler Number is 2.718
Euler Numbe4r is                     2.718
I could arrive home at 3 o'clock.
After running 10 kilometers through the rain, I could arrive home at 3 o'clock.
Korea Investment
         korea Investment
    korea Investment
Korea Investment
Korea Investment=========
#########Korea Investment
****Korea Investment*****
2.718
     2.718
     2.718
Korea Investment=========

In [ ]:
a = "bubble"
print(a.count("b"))      # b의 숫자

b = "rubber"
print(b.find("b"))       # 0부터 시작
print(b.find("d"))       # d가 없으므로 -1 반환

b = "rubber"
print(b.index("b"))
#print(b.index("d"))

# 문자열 삽입

".".join(["a", "b", "c", "d"])  # 하나의 argument만 필요(여기에서는 리스트)
"_".join(["a", "b", "c", "d"])  # 하나의 argument만 필요(여기에서는 리스트)
"".join(["We", "need", "Python."])

# 대문자, 소문자 변환
a = "We need Python"
b = a.upper()
c = b.lower()
print(b, c)

3
2
-1
2
WE NEED PYTHON we need python

In [ ]:
class Member:

  number = 0             # class variable
  
  def __init__(self, name, age, email):
    self.name = name
    self.age = age
    self.email = email
    Member.number += 1   # class variable인 number를 하나씩 증가
    print(self.name, self.age, self.email)
    
  def study(self, school):
    print(self.name + " is studying at " + school)

  def character(self):
    print(self.name + " is brave")

  @classmethod
  def getCount(cls):
    return cls.number

# Member instance 3개 생성
obj1 = Member("Jack", 25, "jack@gmail.com")
obj2 = Member("Palmer", 30, "palmer@naver.com")
obj3 = Member("Greg", 28, "greg@aol.com")

# method call
obj1.study("Kaist Techno College")
obj2.character()
obj3.character()

# 속성에 직접 접근. 기본적으로 파이썬에서는 모두 public임
print("current Member objects are", obj1.name, ",", obj2.name, "and", obj3.name)

# class method 호출
print("Member.number ==", Member.getCount())

# class variable direct access
print(Member.number)

Jack 25 jack@gmail.com
Palmer 30 palmer@naver.com
Greg 28 greg@aol.com
Jack is studying at Kaist Techno College
Palmer is brave
Greg is brave
current Member objects are Jack , Palmer and Greg
Member.number == 3
3

In [ ]:
import numpy as np
grad = np.zeros_like(3.0)
print(grad)

0.0